.user-redux-container {
    .user-redux-body {
        width: 100%;

        .btn_submit {
            margin-top: 20px;
            padding: 5px 10px;
            border: none;
            border: 1px solid #eeee;
            padding: 5px 20px;
            border-radius: 5px;
            background-color: #1767df;
            color: white;
        }
    }

    .label_upload {
        border: 1px solid #eeeeee;
        padding: 5px 15px;
        cursor: pointer;
        background: #b9b7b0;
    }

    .preview_container {

        .privew-image {
            width: 200px;
            height: 70px;
            margin-top: 10px;
            background: center center no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
}