.user-redux-container {
    .user-redux-body {
        width: 100%;

        .btn_submit {
            margin-top: 20px;
            padding: 5px 10px;
            border: none;
            border: 1px solid #eeee;
            padding: 5px 20px;
            border-radius: 5px;
            background-color: #1767df;
            color: white;
        }
    }
}